NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyD35aAzNZy7Ptmqojiyj8fzyTm4YK-Svfk",
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="file-sharing-c9698.firebaseapp.com",
NEXT_PUBLIC_FIREBASE_PROJECT_ID="file-sharing-c9698",
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="file-sharing-c9698.firebasestorage.app",
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= "1077555764093",
NEXT_PUBLIC_FIREBASE_APP_ID="1:1077555764093:web:0f1f4d91aaaf39475cca14",
SOCKET_PORT=4000
FRONTEND_URL=http://localhost:3000

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRICE_ID_PRO=price_...

# Firebase Admin SDK (for custom claims)
FIREBASE_CLIENT_EMAIL="..."
FIREBASE_PRIVATE_KEY="..."
